.header{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 60px;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header__logo{
    width: 100px;
    object-fit: contain; /* keeps the aspect ratio of image or video fixed*/
    margin: 0 20px;
    margin-top: 18px;
}
.header__search{
    display: flex;
    flex: 1; /*stretch as big as it can go*/
    align-items: center;
    border-radius: 24px;
}
.header__searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    outline: none;
}
.header__searchIcon{
    height: 22px !important;
    background-color: #cd9042;
    padding: 5px;
}
.header__nav{
    display: flex;
    justify-content: space-evenly;
    /* width: 200px; */
}
.header__option{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}
.header__optionLineOne{
    font-size: 10px;
    font-family: sans-serif;
}
.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
    font-family: sans-serif;
}
.header__optionBasket{
    display: flex;
    align-items: center;
    color: white;
}
.header__BasketCount{
    margin: 0px 10px;
}